.container,
.Forgot {
  background-image: url(../../assets/fullHDv2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  border-radius: 25px;
  padding: 2em;
}

.register-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.5em;
  gap: 1em;

  background-color: #d9d9d9;
}
.title {
  text-transform: uppercase;
  font-size: 15px;
  padding: 0%;
}
.hidden {
  visibility: hidden;
}
.register-form {
  margin-top: 1em;
  padding: 1em;
}
.control-form {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.control-form input,
.control-form label {
  width: 30vw;
}
.label {
  margin-right: 0.5em;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: black;
  color: white;
}
.submit-register {
  margin-top: 1em;
  background-color: black;
  border: none;
  padding: 5px 10px;
  font-style: oblique;
  color: #ffff;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
@media (min-width: 768px) {
  .container {
    width: 50vw;
  }
}
.link-login {
  text-decoration: none;
}
.forgot-register {
  display: flex;
  justify-content: space-around;
}
.login--register {
  color: rgb(190, 190, 190);
  cursor: pointer;

  text-decoration: none;
}
